
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="menu icon" (click)="sidenav.toggle()" role="heading">
    <mat-icon>menu</mat-icon>
  </button>
  <span>PizzaParty</span>
  <!--<span class="example-spacer"></span>!-->
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with local_pizza">
    <mat-icon>local_pizza</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button class="example-icon-account_circle last-icon" aria-label="Example icon-button with account_circle">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>



<mat-sidenav-container class="mat-sidenav-container">

  <mat-sidenav #sidenav mode="push" opened>

    <div class="nav-item">
      <mat-icon>favorite</mat-icon>
      <span *ngIf="opened" class="nav-label">favorite</span>
    </div>

    <div class="nav-item">
      <mat-icon>help</mat-icon>
      <span *ngIf="opened" class="nav-label">help</span>
    </div>

    <div class="nav-item">
      <mat-icon>home</mat-icon>
      <span *ngIf="opened" class="nav-label">Home</span>
    </div>
    
    <div class="nav-item">
      <mat-icon>settings</mat-icon>
      <span *ngIf="opened" class="nav-label">Settings</span>
    </div>

    <div class="nav-item">
      <mat-icon>star</mat-icon>
      <span *ngIf="opened" class="nav-label">star</span>
    </div>

    <div class="nav-item">
      <mat-icon>download</mat-icon>
      <span *ngIf="opened" class="nav-label">download</span>
    </div>

    <div class="nav-item">
      <mat-icon>terminal</mat-icon>
      <span *ngIf="opened" class="nav-label">terminal</span>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>    

    <h1>Main Content</h1>
   

  </mat-sidenav-content>
</mat-sidenav-container>

